<div style="width: 15rem;" class="text-center card text-white bg-primary mb-3">
    <div class="card-header">{{ album.name }}</div>
    <div class="card-body">
        <img class="rounded" src="{{ album.cover }}" alt="">
        <p class="card-title">Artiste: {{ album.artist.name }}</p>
        <p>Sortie en: {{ album.releaseYear }}</p>
        {% if sublink %}
            <a href="{{ path('artiste_one', {slug: album.artist.slug}) }}" class="btn btn-success">Voir l'artiste</a>
        {% endif %}
    </div>
</div>
